/* Navegação */
.imagens {
    justify-content: space-between;
    border-bottom: 1px solid #d9d9d9;
    background-color: #fff;
    display: flex;
    gap: 20px;
    padding: 24px 0;
  }
  @media (max-width: 991px) {
    .imagens {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .img-nav {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 20px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  .img-nav-2 {
    aspect-ratio: 0.95;
    object-fit: contain;
    object-position: center;
    width: 20px;
    overflow: hidden;
    align-self: center;
    max-width: 100%;
    margin: auto 0;
  }
  
  .img-logo {
    aspect-ratio: 6.69;
    object-fit: contain;
    object-position: center;
    width: 214px;
    overflow: hidden;
    max-width: 100%;
  }
  /* Navegação */

  /* Main */
  .exatus-marine {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .exatus-marine .div {
    background-color: #ffffff;
    width: 1440px;
    height: 3600px;
    position: relative;
  }
  
  .exatus-marine .overlap {
    position: absolute;
    top: 0;
    left: 740px;
  }
  
  .exatus-marine .rectangle {
    position: absolute;
    width: 583px;
    height: 768px;
    top: 0;
    left: 117px;
    background-color: #84c5e2;
    opacity: 0.1;
  }
  
  .exatus-marine .espera {
    position: absolute;
    width: 543px;
    height: 544px;
    top: 160px;
    left: 0;
  }
  
  .exatus-marine .frame {
    display: flex;
    flex-direction: column;
    width: 466px;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    top: 229px;
    left: 157px;
  }
  
  .exatus-marine .text-wrapper {
    position: relative;
    align-self: stretch;
    margin-top: -1px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 70px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .p {
    position: relative;
    align-self: stretch;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #666560;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
  }
  
  .exatus-marine .div-wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: #f4af9f;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .exatus-marine .text-wrapper-2 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #121213;
    font-size: 16px;
    letter-spacing: 0;
    line-height: 24px;
    white-space: nowrap;
  }
  
  .exatus-marine .frame-2 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 864px;
    left: 390px;
  }
  
  .exatus-marine .frame-3 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 4px 8px;
    position: relative;
    flex: 0 0 auto;
    background-color: #ebedee;
    border-radius: 4px;
  }
  
  .exatus-marine .text-wrapper-3 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "DM Sans-Medium", Helvetica;
    font-weight: 500;
    color: #121213;
    font-size: 12px;
    letter-spacing: 2.4px;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .exatus-marine .text-wrapper-4 {
    position: relative;
    width: 660px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 70px;
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .frame-4 {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: absolute;
    top: 2859px;
    left: 390px;
  }
  
  .exatus-marine .frame-5 {
    display: flex;
    flex-direction: column;
    width: 427px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 1176px;
    left: 40px;
  }

  .exatus-marine .img {
    position: relative;
    align-self: stretch;
    width: 100%;
    height: 543px;
    object-fit: cover;
    transition: transform 0.2s ease; 
    cursor: pointer;
  }

  .exatus-marine .img:hover {
    transform: scale(1.05); 
  }
  
  .exatus-marine .frame-6 {
    display: flex;
    flex-direction: column;
    width: 543px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -116px;
  }
  
  .exatus-marine .text-wrapper-5 {
    position: relative;
    width: 432px;
    margin-top: -1px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 32px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .text-wrapper-6 {
    position: relative;
    width: 432px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #666560;
    font-size: 16px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .frame-7 {
    display: flex;
    flex-direction: column;
    width: 426px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 1176px;
    left: 507px;
  }
  
  .exatus-marine .frame-8 {
    display: flex;
    flex-direction: column;
    width: 543px;
    align-items: flex-start;
    gap: 8px;
    position: relative;
    flex: 0 0 auto;
    margin-right: -117px;
  }
  
  .exatus-marine .frame-9 {
    display: flex;
    flex-direction: column;
    width: 427px;
    align-items: flex-start;
    gap: 24px;
    position: absolute;
    top: 1176px;
    left: 973px;
  }
  
  .exatus-marine .overlap-group {
    position: absolute;
    width: 635px;
    height: 725px;
    top: 1974px;
    left: 40px;
  }
  
  .exatus-marine .rectangle-2 {
    position: absolute;
    width: 635px;
    height: 635px;
    top: 0;
    left: 0;
    object-fit: cover;
  }
  
  .exatus-marine .overlap-wrapper {
    position: absolute;
    width: 180px;
    height: 180px;
    top: 545px;
    left: 350px;
  }
  
  .exatus-marine .overlap-2 {
    position: relative;
    width: 322px;
    height: 180px;
  }
  
  .exatus-marine .linked-path-group {
    position: absolute;
    width: 322px;
    height: 180px;
    top: 0;
    left: 0;
  }
  
  .exatus-marine .overlap-group-2 {
    position: relative;
    width: 180px;
    height: 180px;
    background-image: url(img/back-vector.svg);
    background-size: 100% 100%;
  }
  
  .exatus-marine .overlap-3 {
    position: absolute;
    width: 47px;
    height: 67px;
    top: 89px;
    left: 123px;
  }
  
  .exatus-marine .copy-wellness {
    position: absolute;
    height: 16px;
    top: 0;
    left: 29px;
    transform: rotate(95.52deg);
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-2 {
    top: 11px;
    left: 29px;
    transform: rotate(104.73deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-3 {
    top: 16px;
    left: 30px;
    transform: rotate(109.49deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-4 {
    top: 19px;
    left: 29px;
    transform: rotate(112.28deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-5 {
    top: 24px;
    left: 24px;
    transform: rotate(117.19deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-6 {
    top: 31px;
    left: 20px;
    transform: rotate(123.94deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-7 {
    top: 37px;
    left: 16px;
    transform: rotate(130deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-8 {
    top: 42px;
    left: 12px;
    transform: rotate(135.62deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-9 {
    top: 46px;
    left: 9px;
    transform: rotate(140deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-10 {
    top: 49px;
    left: 3px;
    transform: rotate(144.8deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-11 {
    top: 52px;
    left: 0;
    transform: rotate(149.43deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-12 {
    top: 143px;
    left: 119px;
    transform: rotate(152.81deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-13 {
    top: 145px;
    left: 112px;
    transform: rotate(158.14deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-14 {
    top: 148px;
    left: 105px;
    transform: rotate(164.4deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-15 {
    top: 149px;
    left: 100px;
    transform: rotate(169.64deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-16 {
    top: 150px;
    left: 92px;
    transform: rotate(175.36deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-17 {
    top: 150px;
    left: 88px;
    transform: rotate(-179.56deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-18 {
    top: 150px;
    left: 80px;
    transform: rotate(-174.92deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .overlap-4 {
    position: absolute;
    width: 65px;
    height: 151px;
    top: 15px;
    left: 19px;
  }
  
  .exatus-marine .copy-wellness-19 {
    top: 133px;
    left: 54px;
    transform: rotate(-168.33deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-20 {
    top: 132px;
    left: 51px;
    transform: rotate(-163.53deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .overlap-5 {
    position: absolute;
    width: 59px;
    height: 144px;
    top: 3px;
    left: 0;
  }
  
  .exatus-marine .copy-wellness-21 {
    top: 128px;
    left: 47px;
    transform: rotate(-160.51deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-22 {
    top: 127px;
    left: 42px;
    transform: rotate(-156.65deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .overlap-6 {
    position: absolute;
    width: 49px;
    height: 133px;
    top: 7px;
    left: 0;
  }
  
  .exatus-marine .copy-wellness-23 {
    top: 118px;
    left: 39px;
    transform: rotate(-152.81deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-24 {
    top: 116px;
    left: 36px;
    transform: rotate(-150.06deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-25 {
    top: 114px;
    left: 33px;
    transform: rotate(-147.11deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-26 {
    top: 109px;
    left: 22px;
    transform: rotate(-140deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-27 {
    top: 102px;
    left: 17px;
    transform: rotate(-131.04deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-28 {
    top: 97px;
    left: 15px;
    transform: rotate(-126.24deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-29 {
    top: 95px;
    left: 13px;
    transform: rotate(-123.31deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-30 {
    top: 90px;
    left: 8px;
    transform: rotate(-118.67deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-31 {
    top: 83px;
    left: 5px;
    transform: rotate(-111.86deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-32 {
    top: 76px;
    left: 3px;
    transform: rotate(-105.6deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-33 {
    top: 69px;
    left: 2px;
    transform: rotate(-99.92deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-34 {
    top: 64px;
    left: 2px;
    transform: rotate(-95.52deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-35 {
    top: 58px;
    left: 0;
    transform: rotate(-90.88deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-36 {
    top: 53px;
    left: 2px;
    transform: rotate(-86.02deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-37 {
    top: 48px;
    left: 2px;
    transform: rotate(-82.49deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-38 {
    top: 42px;
    left: 2px;
    transform: rotate(-77.23deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-39 {
    top: 35px;
    left: 4px;
    transform: rotate(-71.16deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-40 {
    top: 30px;
    left: 7px;
    transform: rotate(-65.79deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-41 {
    top: 24px;
    left: 9px;
    transform: rotate(-60.06deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-42 {
    top: 19px;
    left: 14px;
    transform: rotate(-55.22deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-43 {
    top: 14px;
    left: 16px;
    transform: rotate(-50.42deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-44 {
    top: 10px;
    left: 21px;
    transform: rotate(-45.83deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-45 {
    top: 8px;
    left: 24px;
    transform: rotate(-42.92deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-46 {
    top: 5px;
    left: 26px;
    transform: rotate(-40deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-47 {
    top: 3px;
    left: 29px;
    transform: rotate(-36.24deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-48 {
    top: 0;
    left: 33px;
    transform: rotate(-32.47deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .overlap-7 {
    position: absolute;
    width: 13px;
    height: 17px;
    top: 3px;
    left: 36px;
  }
  
  .exatus-marine .copy-wellness-49 {
    top: 1px;
    left: 0;
    transform: rotate(-29.52deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-50 {
    top: 0;
    left: 3px;
    transform: rotate(-26.76deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-51 {
    top: 0;
    left: 43px;
    transform: rotate(-19.49deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-52 {
    top: 0;
    left: 56px;
    transform: rotate(-10.36deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-53 {
    top: 14px;
    left: 82px;
    transform: rotate(-5.52deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-54 {
    top: 14px;
    left: 85px;
    transform: rotate(-2.65deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-55 {
    top: 14px;
    left: 89px;
    transform: rotate(2.21deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-56 {
    top: 15px;
    left: 97px;
    transform: rotate(8.82deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-57 {
    top: 16px;
    left: 105px;
    transform: rotate(15.16deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-58 {
    top: 18px;
    left: 111px;
    transform: rotate(20.78deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-59 {
    top: 20px;
    left: 117px;
    transform: rotate(25.06deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .overlap-8 {
    position: absolute;
    width: 51px;
    height: 56px;
    top: 23px;
    left: 120px;
  }
  
  .exatus-marine .copy-wellness-60 {
    top: 0;
    left: 0;
    transform: rotate(29.94deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-61 {
    top: 3px;
    left: 7px;
    transform: rotate(34.78deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-62 {
    top: 5px;
    left: 10px;
    transform: rotate(38.12deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-63 {
    top: 10px;
    left: 13px;
    transform: rotate(43.33deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-64 {
    top: 15px;
    left: 18px;
    transform: rotate(49.37deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-65 {
    top: 20px;
    left: 23px;
    transform: rotate(54.6deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-66 {
    top: 26px;
    left: 25px;
    transform: rotate(60.48deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-67 {
    top: 30px;
    left: 30px;
    transform: rotate(65.15deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-68 {
    top: 36px;
    left: 30px;
    transform: rotate(70.08deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-69 {
    top: 41px;
    left: 34px;
    transform: rotate(74.84deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-70 {
    top: 44px;
    left: 35px;
    transform: rotate(77.67deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .copy-wellness-71 {
    top: 49px;
    left: 34px;
    transform: rotate(81.61deg);
    position: absolute;
    height: 16px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .vector {
    position: absolute;
    width: 44px;
    height: 31px;
    top: 74px;
    left: 68px;
  }
  
  .exatus-marine .frame-10 {
    display: flex;
    flex-direction: column;
    width: 426px;
    align-items: flex-start;
    gap: 40px;
    position: absolute;
    top: 2066px;
    left: 857px;
  }
  
  .exatus-marine .frame-11 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .exatus-marine .text-wrapper-7 {
    position: relative;
    align-self: stretch;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 50px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .exatus-marine .frame-12 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 12px 20px;
    position: relative;
    flex: 0 0 auto;
    background-color: #30b6a9;
    border-radius: 10px;
    text-decoration: none;
  }
  
  .exatus-marine .frame-13 {
    display: flex;
    flex-wrap: wrap;
    width: 1360px;
    justify-content: center;
    gap: 48px 32px;
    position: absolute;
    top: 3171px;
    left: 40px;
    flex-direction: column;
  }
  
  .exatus-marine .frame-14 {
    display: inline-flex;
    align-items: center;
    gap: 16px;
    position: relative;
    flex: 0 0 auto;
    justify-content: center;
  }
  
  .exatus-marine .img-2 {
    position: relative;
    width: 24px;
    height: 24px;
  }
  
  .exatus-marine .text-wrapper-8 {
    position: relative;
    width: fit-content;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #121213;
    font-size: 24px;
    letter-spacing: 0;
    line-height: 36px;
    white-space: nowrap;
  }
  
  .exatus-marine .frame-15 {
    display: flex;
    flex-direction: column;
    width: 1440px;
    align-items: center;
    gap: 80px;
    padding: 80px 40px 48px;
    position: absolute;
    top: 3435px;
    left: 0;
    background-color: #f6f6f6;
  }
  
  .exatus-marine .group {
    position: relative;
    width: 93.35px;
    height: 80px;
  }
  
  .exatus-marine .frame-16 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .exatus-marine .frame-17 {
    display: flex;
    width: 1360px;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    position: relative;
    flex: 0 0 auto;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #d9d9d9;
  }
  
  .exatus-marine .group-2 {
    position: relative;
    width: 228.67px;
    height: 24px;
  }
  
  .exatus-marine .frame-18 {
    display: inline-flex;
    align-items: flex-start;
    gap: 32px;
    position: relative;
    flex: 0 0 auto;
  }
  
  .exatus-marine .text-wrapper-9 {
    position: relative;
    width: fit-content;
    margin-top: -1px;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #666560;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 21px;
    white-space: nowrap;
  }
  
  .exatus-marine .frame-19 {
    display: flex;
    align-items: flex-end;
    gap: 32px;
    position: relative;
    align-self: stretch;
    width: 100%;
    flex: 0 0 auto;
  }
  
  .exatus-marine .text-wrapper-10 {
    position: relative;
    flex: 1;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #666560;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
  }
  
  .exatus-marine .text-wrapper-11 {
    position: relative;
    width: fit-content;
    font-family: "DM Sans-Regular", Helvetica;
    font-weight: 400;
    color: #666560;
    font-size: 12px;
    letter-spacing: 0;
    line-height: 18px;
    white-space: nowrap;
  }
  
  .exatus-marine .layer {
    position: relative;
    width: 55.43px;
    height: 24px;
  }
  
  .exatus-marine .frame-20 {
    display: flex;
    width: 1440px;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    padding: 24px 40px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #d9d9d9;
  }
  
  .exatus-marine .logo {
    position: relative;
    width: 213.31px;
    height: 32px;
  }
  
  .exatus-marine .group-3 {
    position: absolute;
    width: 40px;
    height: 21px;
    top: 30px;
    left: 1420px;
  }
  
  .exatus-marine .rectangle-3 {
    position: absolute;
    width: 40px;
    height: 5px;
    top: 0;
    left: 0;
    background-color: #84c5e2;
  }
  
  .exatus-marine .rectangle-4 {
    position: absolute;
    width: 40px;
    height: 5px;
    top: 8px;
    left: 0;
    background-color: #f4af9f;
  }
  
  .exatus-marine .rectangle-5 {
    position: absolute;
    width: 40px;
    height: 5px;
    top: 16px;
    left: 0;
    background-color: #30b6a9;
  }
  
  .exatus-marine .group-4 {
    position: absolute;
    width: 40px;
    height: 21px;
    top: 30px;
    left: -20px;
  }
  
  /* Main */
   /* Footer */
   .container-footer {
    align-items: center;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    padding: 49px 40px;
  }
  @media (max-width: 991px) {
    .div {
      padding: 0 20px;
    }
  }
  .group-foot-img {
    aspect-ratio: 1.18;
    object-fit: contain;
    object-position: center;
    width: 94px;
    overflow: hidden;
    margin-top: 30px;
    max-width: 100%;
  }
  .logo-foot {
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
    align-self: stretch;
    display: flex;
    margin-top: 80px;
    width: 100%;
    gap: 20px;
    padding: 40px 0;
  }
  @media (max-width: 991px) {
    .logo-foot {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: 40px;
    }
  }
  .img-logo-foot {
    aspect-ratio: 9.54;
    object-fit: contain;
    object-position: center;
    width: 229px;
    overflow: hidden;
    align-self: stretch;
    max-width: 100%;
  }
  .redes-sociais {
    align-self: stretch;
    display: flex;
    gap: 16px;
  }
  @media (max-width: 991px) {
    .redes-sociais {
      justify-content: center;
    }
  }
  .img-linkedin {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .img-youtube {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .img-instagram {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .img-facebook {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 24px;
    overflow: hidden;
    max-width: 100%;
  }
  .container-1 {
    align-self: stretch;
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    gap: 20px;
  }
  @media (max-width: 991px) {
    .container-1 {
      max-width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
  .copy-1 {
    color: #666560;
    align-self: start;
    margin-top: 6px;
    flex-grow: 1;
    flex-basis: auto;
    font: 400 12px/18px DM Sans, sans-serif;
  }
  @media (max-width: 991px) {
    .copy-1 {
      max-width: 100%;
    }
  }
  .copy-2 {
    color: #666560;
    margin-top: 6px;
    font: 400 12px/18px DM Sans, sans-serif;
  }
  .copy-2 {
    aspect-ratio: 2.29;
    object-fit: contain;
    object-position: center;
    width: 55px;
    overflow: hidden;
    max-width: 100%;
  }
  /* Footer */

  /* Breakpoints */
@media (max-width: 1367px) {
  .exatus-marine .div {
    width: 100%;
}
  .exatus-marine .frame {
    left: 70px;
}
.exatus-marine .rectangle {
  left: 50px;
  width: 483px;
  height: 668px;
}
.exatus-marine .espera {
  width: 443px;
  height: 444px;
  left: -100px;
}
.exatus-marine .frame-2 {
  left: 320px;
}
.exatus-marine .frame-5 {
  width: 320px;
  left: 80px;
}
.exatus-marine .frame-6 {
  width: 100%;
}
.exatus-marine .text-wrapper-5 {
width: 100%;
}
.exatus-marine .text-wrapper-6 {
width: 100%;
}
.exatus-marine .frame-7 {
  width: 320px;
  left: 490px;
}
.exatus-marine .frame-9 {
  width: 320px;
  left: 900px;
}
.exatus-marine .img {
  height: 443px;
}
.exatus-marine .rectangle-2 {
  width: 535px;
  height: 535px;290px
  left: 45px;
}
.exatus-marine .linked-path-group {
  top: -90px;
  left: -50px;
}
.exatus-marine .vector {
  top: -15px;
  left: 18px;
}
.exatus-marine .frame-10 {
  left: 750px;
  top: 2000px;
}
.exatus-marine .frame-4 {
  left: 290px;
}
.exatus-marine .frame-13 {
  left: -5px;
  width: 100%;
  gap: 38px 32px;
}
.exatus-marine .overlap-2 {
  left: -60px;
  top: -97px;
}
}
@media (max-width: 1201px) {
  .exatus-marine .div {
    width: 100%;
}
  .exatus-marine .frame {
    left: 60px;
}
.exatus-marine .rectangle {
  left: -77px;
  width: 483px;
  height: 668px;
}
.exatus-marine .espera {
  width: 443px;
  height: 444px;
  left: -200px;
}
.exatus-marine .frame-2 {
  left: 260px;
}
.exatus-marine .frame-5 {
  width: 320px;
  left: 40px;
}
.exatus-marine .frame-6 {
  width: 100%;
}
.exatus-marine .text-wrapper-5 {
width: 100%;
}
.exatus-marine .text-wrapper-6 {
width: 100%;
}
.exatus-marine .frame-7 {
  width: 320px;
  left: 410px;
}
.exatus-marine .frame-9 {
  width: 320px;
  left: 783px;
}
.exatus-marine .img {
  height: 443px;
}
.exatus-marine .rectangle-2 {
  width: 535px;
  height: 535px;
}
.exatus-marine .linked-path-group {
  top: -90px;
  left: -50px;
}
.exatus-marine .vector {
  top: -15px;
  left: 18px;
}
.exatus-marine .frame-10 {
  left: 677px;
  top: 2000px;
}
.exatus-marine .frame-4 {
  left: 290px;
}
.exatus-marine .frame-13 {
  left: -5px;
  width: 100%;
  gap: 38px 32px;
}
.exatus-marine .overlap-2 {
  left: -60px;
  top: -97px;
}
}
@media (max-width: 992px) {
  .exatus-marine .frame {
    left: 50px;
    top: 100px;
}
.exatus-marine .rectangle {
  left: -163px;
  width: 383px;
  height: 505px;
}
.exatus-marine .espera {
  width: 343px;
  height: 344px;
  left: -260px;
  top: 100px;
}
.exatus-marine .text-wrapper {
margin-right: 40px;
}
.exatus-marine .p {
margin-right: 50px;
}
.exatus-marine .frame-2 {
  left: 160px;
}
.exatus-marine .text-wrapper-4 {
  font-size: 50px;
}
.exatus-marine .frame-2 {
  top: 700px;
}
.exatus-marine .frame-5 {
  width: 263px;
  height: 480px;
  left: 40px;
}
.exatus-marine .frame-7 {
  width: 263px;
  height: 480px;
  left: 350px;
}
.exatus-marine .frame-9 {
  width: 263px;
  height: 480px;
  left: 662px;
}
.exatus-marine .text-wrapper-5 {
font-size: 27px;
}
.exatus-marine .rectangle-2 {
  top: -120px;
  width: 435px;
  height: 435px;
}
.path-emp{
  height: 140px;
  width: 140px;
}
.exatus-marine .overlap-2 {
  left: -108px;
  top: -300px;
}
.exatus-marine .frame-10 {
  left: 542px;
  top: 1806px;
}
.exatus-marine .frame-4 {
  left: 172px;
  top: 2557px;
}
.exatus-marine .frame-13 {
top: 2907px;
}
.exatus-marine .div {
  height: 3300px;
}
}
@media (max-width: 768px){
  .exatus-marine .espera {
    left: -558px;
    top: 62px;
}
.exatus-marine .rectangle {
  left: -426px;
  top: -1px;
}
.exatus-marine .text-wrapper {
  text-wrap: nowrap;
}
.exatus-marine .frame {
  position: relative;
  top: 523px;
}
.exatus-marine .frame-2 {
  top: 979px;
  left: 62px;
}
.exatus-marine .frame-5 {
  top: 1281px;
  width: 200px;
  height: 300px;
}
.exatus-marine .frame-7 {
  top: 1281px;
  width: 200px;
  height: 300px;
  left: 281px;
}
.exatus-marine .frame-9 {
  top: 1281px;
  width: 200px;
  height: 300px;
  left: 526px;
}
.exatus-marine .text-wrapper-5 {
  font-size: 21px;
}
.exatus-marine .rectangle-2 {
  top: -120px;
  width: 335px;
  height: 335px;
  position: relative;
  left: -1px;
}
.path-emp {
  height: 100px;
  width: 100px;
  position: relative;
  left: -51px;
  top: -87px;
}
.exatus-marine .frame-10 {
  left: 391px;
  top: 1725px;
  
}
.exatus-marine .text-wrapper-7 {
  font-size: 46px;
  left: -2px;
  top: 73px;
}
.exatus-marine .frame-10 {
width: 345px;
}
.exatus-marine .p {
  margin-right: 0px;
  font-size: 15px;
}
.exatus-marine .frame-8 {
width: auto;
}
.exatus-marine .frame-3 {
  top: 30px;
}
.exatus-marine .text-wrapper-4 {
  left: -1px;
  top: 50px;
}
.exatus-marine .frame-4 {
  left: 53px;
  top: 2419px;
}
}
@media (max-width: 576px) {

}
@media (max-width: 322px) {
.img-logo {
  left: -34px;
  position: relative;
}
.img-nav-2{
  left: 265px;
  top: -47px;
}
.imagens {
padding: 0;
margin-bottom: 0;
margin-top: 42px;
}
.exatus-marine .espera {
width: 200px;
height: 200px;
left: -701px;
top: 20px;
}
.exatus-marine .rectangle {
width: 200px;
height: 250px;
left: -630px;
top: -2px;
}
.exatus-marine .frame {
  left: 15px;
  top: 301px;
  gap: 6px;
}
.exatus-marine .text-wrapper {
font-size: 34px;
margin: 0;
padding: 0;
}
.exatus-marine .frame-2 {
  left: -163px;
  top: 613px;
}
.exatus-marine .text-wrapper-4 {
font-size: 29px;
width: 255px;
}
.exatus-marine .div-wrapper {
  position: relative;
  left: 46px;
}
.exatus-marine .frame-2 {
width: 250px;
left: 20px;
top: 622px;
}
.exatus-marine .frame-5 {
  top: 600px;
  position: relative;
}
.exatus-marine .frame-7 {
  left: 60px;
  top: 1275px;
}
.exatus-marine .frame-9 {
  left: 38px;
  top: 1110px;
  position: relative;
}
.exatus-marine .div {
  height: 3900px;
}
.exatus-marine .rectangle-2 {
  width: 250px;
  height: 250px;
  position: relative;
  top: 106px;
  left: -8px;
}
.exatus-marine .overlap-group {
  left: 40px;
  top: 2011px;
  width: 200px;
  height: 250px;
}
.exatus-marine .frame-3 {
  left: 96px;
  top: 23px;
}
.exatus-marine .text-wrapper-7 {
  font-size: 35px;
  margin: 0;
  padding: 0;
  width: 250px;
  left: 14px;
  top: 27px;
}
.exatus-marine .p {
width: 250px;
left: 13px;
top: 6px;
}
.exatus-marine .frame-10 {
width: 250px;
left: 18px;
top: 2449px;
}
.exatus-marine .frame-11 {
  left: -2px;
  top: 7px;
  align-items: center;
}
.exatus-marine .frame-3 {
  left: 96px;
  top: 23px;
}
.exatus-marine .frame-12 {
  left: 63px;
  top: -7px;
}
.exatus-marine .frame-4 {
  left: 13px;
  top: 3035px;
}
.exatus-marine .frame-3 {
  position: relative;
  left: 1px;
}
.exatus-marine .text-wrapper-8 {
  font-size: 18px;
}
#ende {
  white-space: pre-line;
  line-height: 1.5;
  word-wrap: break-word;
}
.exatus-marine .frame-13 {
width: 250px;
left: 18px;
top: 3334px;
}
.exatus-marine .frame-14 {
width: 250px;
position: relative; 
top: 187px;
left: 12px;
}
#mail{
  will-change: top, left;
  left: 96px;
  top: -1px;
}
#email{
  left: 84px;
  top: -1px;
  position: relative;
}
#cell{
  left: -158px;
  top: 76px;
  position: relative;
}
#tell{
  left: -160px;
  top: 75px;
}
#map-pin{
  left: -7px;
  top: 34px;
  position: relative;
}
#ende{
  left: -13px;
  top: 39px;
}
.exatus-marine .overlap-wrapper {
  left: 0px;
}
.exatus-marine .overlap-2 {
  left: 162px;
  top: -145px;
  width: 100px;
}
.path-emp {
  height: 80px;
  width: 80px;
  left: -29px;
  top: -86px;
}
.exatus-marine .frame{
  width: 250pxpx;
}
.exatus-marine .overlap {
  position: absolute;
  top: 0;
  left: 717px;
}
}
  /* Breakpoints */